.container {
  min-height: 100vh;
  padding: 0 4rem;
  background-image: url("../public/background.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  color: #212121;
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
